@font-face {
    font-family: 'Roboto';
    src: url('../Tipografia/Roboto/Roboto-MediumItalic.woff2') format('woff2'), url('../Tipografia/Roboto/Roboto-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Tipografia/Roboto/Roboto-Regular.woff2') format('woff2'), url('../Tipografia/Roboto/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Tipografia/Roboto/Roboto-BlackItalic.woff2') format('woff2'), url('../Tipografia/Roboto/Roboto-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Tipografia/Roboto/Roboto-Bold.woff2') format('woff2'), url('../Tipografia/Roboto/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Tipografia/Roboto/Roboto-Thin.woff2') format('woff2'), url('../Tipografia/Roboto/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Tipografia/Roboto/Roboto-ThinItalic.woff2') format('woff2'), url('../Tipografia/Roboto/Roboto-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Tipografia/Roboto/Roboto-BoldItalic.woff2') format('woff2'), url('../Tipografia/Roboto/Roboto-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Tipografia/Roboto/Roboto-Black.woff2') format('woff2'), url('../Tipografia/Roboto/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Tipografia/Roboto/Roboto-LightItalic.woff2') format('woff2'), url('../Tipografia/Roboto/Roboto-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Tipografia/Roboto/Roboto-Italic.woff2') format('woff2'), url('../Tipografia/Roboto/Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Tipografia/Roboto/Roboto-Light.woff2') format('woff2'), url('../Tipografia/Roboto/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Tipografia/Roboto/Roboto-Medium.woff2') format('woff2'), url('../Tipografia/Roboto/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../Tipografia/WorkSans/WorkSans-Regular.woff2') format('woff2'), url('../Tipografia/WorkSans/WorkSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../Tipografia/WorkSans/WorkSans-Italic.woff2') format('woff2'), url('../Tipografia/WorkSans/WorkSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

body {
    font-family: 'Roboto';
    margin: 0;
    background-image: url(../img/Banner/row-of-young-adults-at-work.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-origin: content-box;
    background-repeat: no-repeat;
}

.topnav {
    background-color: rgba(10, 24, 32, 0.62);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row!important;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 0 1rem;
    text-decoration: none;
    font-size: 3rem;
    width: 20%;
    height: 100%;
}

.topnav a:hover {
    border-bottom: 0.8rem solid #c4c8c9;
}

.topnav a img {
    width: 100%;
    max-width: 150px;
}

.topnav .active:hover {
    background-color: transparent;
}

.topnav .icon {
    display: none;
}

section {
    height: 80vh;
    display: grid;
    place-items: center;
    text-align: center;
}

section h1 {
    font-weight: 900;
    color: #FFFFFF;
    font-size: 3rem;
}

section h2 {
    font-size: 2rem;
}

section h2 img {
    width: 0.5em;
}

@media screen and (max-width: 719px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .main.responsive {
        display: none;
    }
    .topnav.responsive {
        height: 100vh;
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 10px;
        top: 35px;
    }
    .topnav.responsive a {
        float: none;
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 1rem 1rem 2rem 1rem;
        font-size: 2rem;
    }
    .topnav.responsive a:not(.active) {
        width: 100%;
    }
    .logo {
        width: 100px!important;
        height: 80px;
    }
    .topnav.responsive {
        display: block;
        overflow: hidden;
        width: 100vw;
    }
    .logo-main {
        display: none;
    }
    .topnav a:hover {
        background-color: transparent;
        color: #FFFFFF;
    }
}